# Import section

In [1]:
from sklearn import linear_model
import pandas as pd

from context import ml_project
from ml_project.io import DataHandler

# Download data - HowTo

1) Download the zip folder from the web  
2) Create a directory inside the PROJECT_ROOT_DIR/data/ and give it a suitable name (DIR_NAME)  
3) Extract the files from the zip folder into DIR_NAME  
4) Set the correct DIR_NAME in the following cell

In [2]:
DIR_NAME = 'task0_data'

# Load all data (train and test data)

In [3]:
data_handler = DataHandler(DIR_NAME)
data = data_handler.load_train_and_test_data()

train_X = data['train_data'].drop(['y'], axis=1)
train_Y = data['train_data']['y']

test_X = data['test_data']

In [4]:
train_X.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
Id,,,,,,,,,,
0,1764.052346,400.157208,978.737984,2240.893199,1867.557990,-977.277880,950.088418,-151.357208,-103.218852,410.598502
1,144.043571,1454.273507,761.037725,121.675016,443.863233,333.674327,1494.079073,-205.158264,313.067702,-854.095739
2,-2552.989816,653.618595,864.436199,-742.165020,2269.754624,-1454.365675,45.758517,-187.183850,1532.779214,1469.358770
3,154.947426,378.162520,-887.785748,-1980.796468,-347.912149,156.348969,1230.290681,1202.379849,-387.326817,-302.302751
4,-1048.552965,-1420.017937,-1706.270191,1950.775395,-509.652182,-438.074302,-1252.795360,777.490356,-1613.897848,-212.740280

# Fitting the model on training data and performing predictions on test data

In [5]:
regr = linear_model.LinearRegression()
regr.fit(train_X, train_Y)
predictions = pd.Series(regr.predict(test_X))

# Writing predictions back to disk in correct data format

In [6]:
data_handler.store_prediction_file(predictions)